img {
  height: 200px;
  width: 200px;
}
.full-content {
  background-image: url(games-Website-resources/133313.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.txt{
    font-size: larger;
    color: black;
    font-weight: 500;
}

.txt:hover{
    color: red; 
}
.crd-hover:hover{
    scale:.9;
    transition-duration: .3s;
    cursor: pointer;
    
}

@media screen and (max-width: 425px) {
  .full-content {
    background-image: url(games-Website-resources/mario-mobile.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}